@import "tailwindcss";
@import './fonts.css';
@import "./theme.css";
@import "./primitives.css";
@import "./components.css";
@import "./utilities.css";

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply text-secondary m-0 italic font-bold;
  }

  h1 {
    line-height: 1.1 !important;
    @apply text-5xl;
  }

  h2 {
    line-height: 1.1 !important;
    @apply text-4xl;
  }

  h3 {
    line-height: 1.1 !important;
    @apply text-2xl;
  }

  h4 {
    line-height: 1.1 !important;
    @apply text-base;
  }

  body {
    background-color: #04182C;
  }

  #root {
    @apply bg-surface text-text-default flex flex-col min-h-screen font-normal text-base;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }

  button {
    @apply italic h-12 font-bold bg-primary text-white py-2 px-4 rounded-full hover:bg-primary-active hover:cursor-pointer hover:opacity-75 flex items-center justify-center;
  }

  button[disabled] {
    @apply opacity-50 cursor-not-allowed;
  }

  input {
    @apply border-2 border-border-default bg-transparent text-text-default p-2 px-4 rounded-full focus:outline-none focus:border-primary;
  }

  * {
    @apply transition-[opacity,transform,background-color,border-color,color] duration-300;
  }

  .outline {
    @apply border-2 bg-transparent border-white;
  }

  .bg-blur:hover {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: white #020E1A;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 16px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #020E1A;
    border-radius: 3px;
    border: none;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 3px;
    border: none;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3730a3;
  }
  

}


