@theme {

  --color-*

  --color-transparent: transparent;

  --color-navy-100: #CDD1D5;
  --color-navy-200: #9BA3AB;
  --color-navy-300: #687480;
  --color-navy-400: #364656;
  --color-navy-500: #04182C;
  --color-navy-600: #031323;
  --color-navy-700: #020E1A;
  --color-navy-800: #020A12;
  --color-navy-900: #010509;

  --color-royalblue-100: #CDDBEA;
  --color-royalblue-200: #9CB7D5;
  --color-royalblue-300: #6A94C0;
  --color-royalblue-400: #3970AB;
  --color-royalblue-500: #1236E9;
  --color-royalblue-600: #063D78;
  --color-royalblue-700: #042E5A;
  --color-royalblue-800: #031E3C;
  --color-royalblue-900: #010F1E;

  --color-cyan-100: #DFFCFA;
  --color-cyan-200: #BFF9F4;
  --color-cyan-300: #9EF6EF;
  --color-cyan-400: #7EF3E9;
  --color-cyan-500: #73E8FF;
  --color-cyan-600: #4BC0B6;
  --color-cyan-700: #389089;
  --color-cyan-800: #26605B;
  --color-cyan-900: #13302E;

  --color-gray-100: #f8f9fa;
  --color-gray-300: #f8f9fa;
  --color-gray-500: #f8f9fa;
  --color-gray-700: #f8f9fa;
  --color-gray-900: #f8f9fa;

  --color-error-100: red;
  --color-error-300: red;
  --color-error-500: red;
  --color-error-700: red;
  --color-error-900: red;

  --color-warning-100: yellow;
  --color-warning-300: yellow;
  --color-warning-500: yellow;
  --color-warning-700: yellow;
  --color-warning-900: yellow;

  --color-success-100: green;
  --color-success-300: green;
  --color-success-500: green;
  --color-success-700: green;
  --color-success-900: green;

  --color-info-100: #DFFCFA;
  --color-info-300: #9EF6EF;
  --color-info-500: #73E8FF;
  --color-info-700: #389089;
  --color-info-900: #13302E;

  --font-sans: 'Inter', sans-serif;
  --font-weight-light: 400;
  --font-weight-normal: 600;
  --font-weight-bold: 800;
}