@theme {

  --color-*

  --color-transparent: transparent;

  --color-surface: var(--color-navy-500);
  --color-surface-raised: var(--color-navy-700);
  --color-surface-muted: var(--color-navy-300);
  --color-surface-overlay: var(--color-navy-400);

  --color-text-default: var(--color-navy-100);
  --color-text-muted: var(--color-navy-300);

  --color-border-default: var(--color-navy-100);
  --color-border-muted: var(--color-navy-300);
  --color-border-strong: var(--color-navy-400);
  --color-border-raised: var(--color-navy-700);

  --color-primary: var(--color-royalblue-500);
  --color-primary-active: var(--color-royalblue-700);
  --color-primary-hover: var(--color-royalblue-600);
  --color-primary-muted: var(--color-royalblue-300);
  --color-primary-subtle: var(--color-royalblue-100);

  --color-secondary: var(--color-cyan-500);
  --color-secondary-active: var(--color-cyan-700);
  --color-secondary-hover: var(--color-cyan-600);
  --color-secondary-muted: var(--color-cyan-300);

  --color-gray-100: #f8f9fa;
  --color-gray-300: #f8f9fa;
  --color-gray-500: #f8f9fa;
  --color-gray-700: #f8f9fa;
  --color-gray-900: #f8f9fa;

  --color-error-100: red;
  --color-error-300: red;
  --color-error-500: red;
  --color-error-700: red;
  --color-error-900: red;

  --color-warning-100: yellow;
  --color-warning-300: yellow;
  --color-warning-500: yellow;
  --color-warning-700: yellow;
  --color-warning-900: yellow;

  --color-success-100: green;
  --color-success-300: green;
  --color-success-500: green;
  --color-success-700: green;
  --color-success-900: green;

  --color-info-100: #DFFCFA;
  --color-info-300: #9EF6EF;
  --color-info-500: #73E8FF;
  --color-info-700: #389089;
  --color-info-900: #13302E;

  --font-sans: 'Inter', sans-serif;
  --font-weight-light: 400;
  --font-weight-normal: 600;
  --font-weight-bold: 800;
}